<div>
    <a href="/create-flat"> Создать квартиру  </a>
    <br>
    <br>
    <a href="/create-people"> Создать сьемщика  </a>
    <br>
    <br>
    <a href="/arenda"> Подбор свободных квартир  </a>
    <br>
    <br>
    <a href="/sold"> Сданные квартиры  </a>
    <br>
    <br>
    <a href="/flats"> Список всех квартир  </a>
</div>
